<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
fashion-ona-dime.com
layout-styles.css
<html lang="en-US">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<font size="30">
<title> Monica Levin</title>
</head>
<body>
body {
    background-color:white;
    font-family: georgia, "Times New Roman", serif;
    font-size: 16px;
    line-height: 22px;
}
<div id="wrapper">
    <header>
        <h1>Monica Levin</h1>
    </header>
    <nav>
<font size="30">
        <a href="index.html">Home</a>
        <a href="interest.html">Interest</a>
        <a href="contact.html">Contact</a>
        <a href="resume.html">Resume</a>    
</div>     
</nav>

body {
    background-color:grey;
    font-family: georgia, "Times New Roman", serif;
    font-size: 18px;
    line-height: 22px;
}

#wrapper {
    width:960px;
    background-color:white;
    margin-left:auto;
    margin-right:auto;
    margin-top: 30px;
    margin-bottom:30px;
    padding: 10px;
}

nav {
    font-size:35px;
}


h1 {
    color:grey;
    font-size: 48px;
}

h2 {
    font-size: 32px;

}
<meta name="google-site-verification" content="fGDniSQI-s4pzbQF-1H9mla808roT_0llyxbW0ChVRk" /><body class="home blog custom-font-enabled">
        <nav id="site-navigation" class="main-navigation" role="navigation">
                <div id="navwrap">
<div id="socialicons">
follow @Fashion-ona-Dime: <a href="http://monicaslevin.wordpress.com/" target="_blank" title="wordpress" alt="wordpress" />wordpress
  <area shape="rect" coords="47,0,68,17" href="http://instagram.com/molevin" target="_blank" alt="Instagram" title="Instagram" />
  <area shape="rect" coords="88,0,110,17" href="https://www.facebook.com/monica.levin.146" target="_blank" title="Facebook" alt="Facebook" /> 

    
        <div id="main" class="wrapper">
        <div id="primary" class="site-content">
                <div id="content" role="main">
footer {
    font-size: 30px;
    padding: 0 10px 0 10px;
}
        
@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
        line-height: 21px;
        padding: 3%;
    }
    h1, h2 {
        text-align: center;
    }
    h1 {
        font-size: 32px;
        line-height: 32px;
    }
    h2 {
        font-size: 28px;
        line-height: 28px;
    }
    #wrapper {
        border: 0;
        margin-left: 0;
        width: 100%;
       
    } 
    img {
        float:center; 100%;
        border:40%;
        margin:2.7% 10% 0 10%;
        padding: 2%; /* TRoubLe */
        width:20%;
        height:auto
    }
    nav {
        border: 0;
        font-size: 18px;
        text-align: center;
        width: 95%;
    }
    nav ul {
        list-style-type: none;
        padding-left: 0;
    }
    nav li {
        display: inline;
        margin-right: 10px;
    }
    footer {
        font-size: 14px;
    }
    footer ul {
        list-style-type: none;
    }
    footer li {
        display: inline;
    }    
      
}
font size="6">
text-align: right;
    <footer>
        
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="interest.html">Interest</a></li>
            <li><a href="resume.html">Resume</a></li>
            <li><a href="contact.html">Contact</a></li>
            <font size="6">
        <p><a href="monicaslevin@ufl.edu">Email me here</a></p

           <div id='div-gpt-ad-1384577875138-2' style='width:300px; height:250px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1384577875138-2'); });
</script>
</div>
<aside id="text-3" class="widget widget_text"><h3 class="widget-title">Follow</h3>			<div class="textwidget"><a  |   href="http://instagram.com/molevin">Instagram</a> | 
<a href="http://www.pinterest.com/luvchik410">Pinterest</a><br>
<a href=https://www.facebook.com/monica.levin.>Facebook</a> | 
<a href="http://monicaslevin.wordpress.com/">Wordpress</a></div>
		</aside><aside id="archives-3" class="widget widget_archive"><h3 class="widget-title">Archive</h3>		<ul>
       <font size="6">
    <footer>
<font size="6">
    <footer>
        </script>
</div>
<aside id="text-3" class="widget widget_text"><h3 class="widget-title">		<div class="textwidget"><a  | 
      /aside><aside id="text-2" class="widget widget_text"><h3 class="widget-title">Monica</h3>			<div class="textwidget">Founder and Blogger of Fashion-ona-Dime.com<br>
My fashion on a budget</div></aside><aside id="text-3" class="widget widget_text"><h3 class="widget-title">Follow</h3>			<div class="textwidget"><a href="href="                                                                                                                 href="http://instagram.com/molevin">Instagram</a> | 
<a href="http://www.pinterest.com/luvchik410">Pinterest</a><br>
<a href=https://www.facebook.com/monica.levin.>Facebook</a> | 
<a href="http://monicaslevin.wordpress.com/">Wordpress</a></div>
		</aside><aside id="archives-3" class="widget widget_archive"><h3 class="widget-title">Archive</h3>		<ul>
       <font size="6">
    <footer>
        <p><a href="monicaslevin@ufl.edu">Email me here</a></

 http://instagram.com/molevin">Instagram</a> | 
<a href="http://www.pinterest.com/luvchik410">Pinterest</a><br>
<a href=https://www.facebook.com/monica.levin.>Facebook</a> | 
<a href="http://monicaslevin.wordpress.com/">Wordpress</a></div>
		</aside><aside id="archives-3" class="widget widget_archive"><h3 class="widget-title">Archive</h3>		<ul>
       <font size="6">
    <footer>

