body {
 background-color:white;
 font-family:Georgia, "Times New Roman", serif;
}

#wrapper {
 width:960px;
background-color:pink;
margin-left:auto;
margin-right:auto;
margin-top: 30px;
margin-bottom:30px;
padding:0 0px 20px;
border: 10px solid grey;

}
nav {

font-size:35px;
margin-right:50px;
margin-left:300px;


}


h1 {
color:grey;align-content:space-around
margin-top:10px;
margin-right:10px;
margin-left:300px;
font-size:45px;
}
h1:link{}
h1:visited{}
h1:hover{
    color:#ffffff;
}
h1:active {
    text-decoration:underline;
}
h1:focus {}
    
h2 {
margin-left:0px;
}

footer {
    font-size: 30px;
    padding: 0 10px 0 10px;
        
<<<<<<< HEAD
 @media screen and (max-width: 600px) {
   body {
        padding: 5%;
        }
        nav {
           
           width:95%;
        }
     #content {
            border: 5px solid blue;
            clear: left;
            margin-left: 0;
            width: 95%;
        
    }
=======
 
>>>>>>> 3cc5cb35ef38958b86bd4dc2468d59f7d803fd91
